body {
  font-size: 14px;
  line-height: 21px;
  color: #333;
  font-weight: regular;
  text-transform: uppercase;
  font-family: "pt sans narrow", sans-serif;
}

.main-page-content-fact  {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  font-weight: regular;
  text-transform: uppercase;
  font-family: "pt sans narrow", sans-serif;
}

.content-fact-name {
  font-size: 21px;
  line-height: 21px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "pt sans narrow", sans-serif;
}